#page1 {
  width:100vw;
  height:100vh;
  background-color: white;
  position: relative;
  overflow: hidden;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid green;

}

#logo {
  width:1500px;
  height:60vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}

#logo > div {
  width:100%;
  height:33%;
  border: 1px solid yellow;
  display: flex;
}

.logo_01 > div {
  width:500px;
  height:100%;
  background-color: black;
}

.logo_02 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_02 > div {
  width:500px;
  height:100%;
  background-color: black;
}

.logo_03 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo_03 > div {
  width:500px;
  height:100%;
  background-color: black;
}

#text_01 {
  width:90vw;
  height:80px;
  /* background-color: blue; */
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

#text_01 > p {
  padding-left: 10px;
  font-size: 45px;
  font-weight: bold;
}

#text_02 {
  width:90vw;
  height:80px;
  /* background-color: red; */
  display: flex;
  align-items: center;
}

#text_02 > p {
  padding-left: 10px;
  font-size: 18px;
}





